<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>To-Do List</title>
      <link rel="stylesheet" href="../static/style.css">
   </head>
   <body>
      <div class="sidebar">
         <ul>
            <li>Today</li>
            <li>This Week</li>
            <li>Folders</li>
            <li>+</li>
         </ul>
      </div>

      <div class="tasks">
         <ul>
            <li>Today</li>
         </ul>
         <p>+</p>
      </div>

      <div class="create">
         <p>Title</p>
         <p>Message</p>
         <p>Folder</p>
      </div>

   </body>
</html>